<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>Label</key><string>com.sai.home</string>
<key>ProgramArguments</key><array>
<string>NODE_ABSOLUTE_PATH</string><string>--env-file=PROJECT_ABSOLUTE_PATH/.env</string><string>PROJECT_ABSOLUTE_PATH/home-server.js</string>
</array>
<key>WorkingDirectory</key><string>PROJECT_ABSOLUTE_PATH</string>
<key>RunAtLoad</key><true/>
<key>KeepAlive</key><true/>
<key>ThrottleInterval</key><integer>10</integer>
<key>StandardOutPath</key><string>PROJECT_ABSOLUTE_PATH/data/home/server.log</string>
<key>StandardErrorPath</key><string>PROJECT_ABSOLUTE_PATH/data/home/error.log</string>
</dict></plist>
